# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore the temporary directory
/tmp

# Ignore cache
/.sass-cache
/.cache

# Ignore .DS_store file
.DS_Store
