html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: #0069ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  border: none;
  overflow: hidden;
}
