.main-header {
  @include width-for-columns(12);
  margin-top: 49px;
}

.main-content {
  @include width-for-columns(12);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 120px;
}
