.section {
  @include span-columns(5);

  &__description,
  &__text {
    margin-bottom: 15px;
    font-family: proxima nova;
    letter-spacing: 0.25px;
    line-height: 24px;
  }

  &__description {
    color: #000;
    font-size: 18px;
  }

  &__text {
    color: #666;
    font-size: 16px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }

  &__item {
    display: inline-block;
    margin-right: 10px;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    &--twitter {
      width: 20px;
      height: 17px;
      background-image: asset-data-url('images/twitter-icon.png');
    }

    &--linkedin {
      width: 20px;
      height: 20px;
      background-image: asset-data-url('images/linkedin-icon.png');
    }

    &--github {
      width: 20px;
      height: 20px;
      background-image: asset-data-url('images/github-icon.png');
    }

    &--message {
      width: 22px;
      height: 16px;
      background-image: asset-data-url('images/message-icon.png');
    }
  }
}
