.logo {
  display: block;
  width: 288px;
  height: 40px;
  background: asset-data-url('images/logo.png') center left no-repeat;
  background-size: 48px 100%;
  text-align: right;

  &:hover { text-decoration: none; }

  span {
    font-family: $logo-font-family;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 40px;
  }
}

.avatar {
  @include span-columns(5);
  margin-right: 49px;

  img { width: 100%; }
}

.about-bio {
  @include span-columns(5);

  p {
    margin-bottom: 15px;
    color: $about-bio-text-color;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 24px;

    &:first-of-type {
      color: $about-bio-headline-color;
      font-size: 18px;
    }
  }
}

.social-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;

  &__item {
    display: inline-block;
    margin-right: 10px;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    &--twitter {
      width: 20px;
      height: 17px;
      background-image: asset-data-url('images/twitter-icon.png');
    }

    &--linkedin {
      width: 20px;
      height: 20px;
      background-image: asset-data-url('images/linkedin-icon.png');
    }

    &--github {
      width: 20px;
      height: 20px;
      background-image: asset-data-url('images/github-icon.png');
    }

    &--message {
      width: 22px;
      height: 16px;
      background-image: asset-data-url('images/message-icon.png');
    }
  }
}
