.section {
  @include span-columns(5);

  &__description,
  &__text {
    margin-bottom: 15px;
    color: #666;
    font-family: proxima nova;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 24px;
  }

  &__description {
    color: #000;
    font-size: 18px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }

  &__item {
    display: inline-block;
    margin-right: 10px;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
}
