// Mixins
@mixin width-for-columns($columns) {
  $width: ($columns * $column) + (($columns - 1) * $gutter);
  $halth-width: $width / 2;

  @include clearfix();
  padding-left: calc(50% - #{$halth-width});
  padding-right: calc(50% - #{$halth-width});
}

// Functions
@function em($pxval, $base: 16) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}
