@charset "utf-8";

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot');
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  font-size: 130%;
}

.sro {
  position: absolute;
  top: 0;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

html { box-sizing: border-box; }

*,*::after,*::before {
    box-sizing: inherit
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #ecf0f1;
  color: #484848;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 60px;
  border-radius: 50%;
}

h1 { text-transform: uppercase; }

h2 { font-weight: normal; }

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 8px;
}

a {
  font-size: 40px;
  text-decoration: none;
  color: #7f8c8d;
}

a:hover { color: #7f8c8d; }

