$column: 65px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1140px;

$base-font-size: 16;
$base-font-family: "Nunito Sans", sans-serif;

$base-link-color: #0069ff;
$base-link-hover-color: #0054cc;
$base-background-color: #fff;

$biography-text-color: #666;
$biography-headline-color: #000;
