---
title: Jeferson Calazans
---

<figure>
  <img src="/images/avatar.png" alt="Jeferson Farias Calazans">
</figure>

<section class="section">
  <p class="section__description">
    Jeferson Farias Calazans é desenvolvedor e trabalha na área de tecnologia desde 2005. A partir de 2012 passou a atuar como desenvolvedor, trabalhando em startups e empresas de tecnologia.
  </p>
  <p class="section__text">
    Jeferson é formado em Ciência da Computação pela UEZO. E se interessou pela área de desenvolvimento de software desde o primeiro contato, ainda durante o ensino médio. É entusiasta de Software Livre e por muito tempo foi usuário Linux. Hoje diverte-se codificando no seu macbook pro. Em sua carreira como desenvolvedor, trabalhou na primeira geração da Devoe, na empresa Myfreecomm, na startup Paggtaxi, nas empresas Sieve e Loja Integrada.
  </p>
  <p class="section__text">
    Além de trabalhar com tecnologia, Jeferson ama se envolver com atividades culturais e esportivas. Em seu tempo livre gosta de ouvir música, ler livros, assistir filmes e seriados, ir a shows e exposições. Também é fissurado em futebol, F1 e no programa de rádio RoNca RoNca.
  </p>
  <ul class="section__items">
    <li class="section__item">
      <a class="section__link section__link--twitter" href="https://twitter.com/calazans10">
        <span class="visuallyhidden">Twitter</span>
      </a>
    </li>
    <li class="section__item">
      <a class="section__link section__link--linkedin" href="https://br.linkedin.com/in/calazans10">
        <span class="visuallyhidden">Linkedin</span>
      </a>
    </li>
    <li class="section__item">
      <a class="section__link section__link--github" href="https://github.com/calazans10">
        <span class="visuallyhidden">Github</span>
      </a>
    </li>
    <li class="section__item">
      <a class="section__link section__link--message" href="mailto:calazans10@gmail.com">
        <span class="visuallyhidden">Contato</span>
      </a>
    </li>
  </ul>
</section>
