---
title: Jeferson Farias Calazans
description: Jeferson Farias Calazans is a Software Developer from Rio de Janeiro, Brazil
domain: http://calazans10.com/
---

<img src="images/avatar.jpg" alt="Jeferson Farias Calazans">

<h1>Jeferson Farias Calazans</h1>

<h2>Software Developer</h2>

<ul>
  <li>
    <a href='https://www.linkedin.com/in/calazans10' class='symbol' title='circlelinkedin'>
      <span class="sro">Linkedin</span>
    </a>
  </li>
  <li>
    <a href='https://github.com/calazans10' class='symbol' title='circlegithubalt'>
      <span class="sro">Github</span>
    </a>
  </li>
  <li>
    <a href='https://www.facebook.com/calazans10' class='symbol' title='circlefacebook'>
      <span class="sro">Facebook</span>
    </a>
  </li>
  <li>
    <a href='https://twitter.com/calazans10' class='symbol' title='circletwitterbird'>
      <span class="sro">Twitter</span>
    </a>
  </li>
  <li>
    <a href='mailto:calazans10@gmail.com' class='symbol' title='circleemail'>
      <span class="sro">Email</span>
    </a>
  </li>
</ul>

