---
title: Jeferson Calazans | Software Developer
description: Jeferson Calazans is a passionate software developer with a degree in Computer Science. He has over 6 years of experience and throughout this time he has worked for several technology companies.
---

<div class="avatar">
  <img src="/images/avatar.png" alt="Jeferson Farias Calazans">
</div>

<div class="about-bio">
  <p>
    <%= current_page.data.description %>
  </p>
  <p>
    As a passionate software developer, Jeferson has already worked for different companies in various industries, ranging from payments to e-commerce. Since the beginning of his career, Jeferson has adapted to each situation, helping the companies he worked with to develop beautiful applications. He enjoys working on creative projects and solving complex challenges so as to keep growing as a professional. His experiences include front-end engineering, back-end engineering and entrepreneurship.
  </p>
  <p>
    When he is not writing code, you will find Jeferson walking through Rio de Janeiro, hanging out with his wife, Michele, or reading books, listening to music and the radio show RoNca RoNca, watching movies and TV series.
  </p>
  <p>
    If you want to know more about him, take a look at his open-source projects at <a href="https://github.com/calazans10">Github</a>, check out his stream at <a href="https://twitter.com/calazans10">Twitter</a> or just get in touch via <a href="mailto:calazans10@gmail.com">email</a> or <a href="https://br.linkedin.com/in/calazans10">Linkedin</a>.
  </p>
</div>
